* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}

body {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 50% 50%;
}

@media (max-width: 640px) and (min-height: 640px), (orientation: portrait) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 30% 70%;
  }
}

body > * {
  width: 100%;
  height: 100%;
}

twisty-player {
  box-shadow: 0 0 2em rgba(0, 0, 0, 1);
}

twisty-player.loading {
  opacity: 0.25;
}

twisty-player.loading::after {
  padding: 0.5em 0;
  font-size: 2em;
  content: "Waiting for algs to load... (unoptimized)";
  display: grid;
  place-content: center;
}

#cases {
  max-height: 100%;
  overflow: scroll;
  padding: 1.5em 0.5em;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 0.25em;
}

/* TODO: make 2D view side stickers larger so that they've more visible at
smaller scales. */
table svg-wrapper {
  width: 3em;
  height: 3em;
}
